# Игнорирование файла
notes.md

# Игнорирование папок
vscode/

# Игнорирование всех файлов с определенным расширением во всем проекте
*.log

# Игнорирование всех файлов с определенным расширением в папке
logs/*.log